<body>
    <section class="inicio" id="inicio">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h1 class="title">Proyectos OSC</h1>
                  <p class="about-text">Somos una empresa que busca visibilizar proyectos y organizaciones con fines benéficos para la sociedad</p>
              </div>
              <div class="col"></div>
          </div>
      </div>
    </section>

    <section class="about"></section>
    <p class="title-proyectos">Proyectos</p>

    <!-- Project Cards -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let project of projects">
          <div class="card h-100 shadow-sm">
            <div class="card-header text-center text-white">
              <h5 class="card-title">{{ project.Name }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>Description:</strong> {{ project.Description }}
              </p>
              <p class="card-text">
                <strong>Social Network:</strong>
                <a href="{{ project.Social_Network_URL }}" target="_blank">{{ project.Social_Network_URL }}</a>
              </p>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-primary"
                (click)="openModal(project)"
                data-bs-toggle="modal"
                data-bs-target="#projectDetailsModal"
              >
                View Details
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="projectDetailsModal"
        tabindex="-1"
        aria-labelledby="projectDetailsModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="projectDetailsModalLabel">{{ selectedProject?.Name }}</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-info">
              <p><strong>Address:</strong> {{ selectedProject?.Address }}</p>
              <p><strong>Email:</strong> {{ selectedProject?.Email }}</p>
              <p><strong>Phone:</strong> {{ selectedProject?.Phone_Number }}</p>
              <p><strong>Social Network:</strong>
                <a href="{{ selectedProject?.Social_Network_URL }}" target="_blank">
                  {{ selectedProject?.Social_Network_URL }}
                </a>
              </p>
            </div>
            <div class="objetivo-container">
              <p><strong>Objective:</strong> {{ selectedProject?.Objective }}</p>
            </div>
            <div class="desc-container">
              <p><strong>Description:</strong> {{ selectedProject?.Description }}</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
